*cscope*
*tags*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
config.h
config.h.in
config.log
config.status
configure
doc/.deps/makedocs.Po
doc/Makefile
doc/Makefile.in
libltdl/.deps/libltdl_la-lt__alloc.Plo
libltdl/.deps/libltdl_la-lt_dlloader.Plo
libltdl/.deps/libltdl_la-lt_error.Plo
libltdl/.deps/libltdl_la-ltdl.Plo
libltdl/.deps/libltdl_la-slist.Plo
libltdl/.deps/libltdlc_la-lt__alloc.Plo
libltdl/.deps/libltdlc_la-lt_dlloader.Plo
libltdl/.deps/libltdlc_la-lt_error.Plo
libltdl/.deps/libltdlc_la-ltdl.Plo
libltdl/.deps/libltdlc_la-slist.Plo
libltdl/.deps/lt__strl.Plo
libltdl/.libs/dlopen.a
libltdl/.libs/dlopen.la
libltdl/.libs/libltdlc.a
libltdl/.libs/libltdlc.la
libltdl/.libs/libltdlcS.o
libltdl/.libs/libltdlc_la-lt__alloc.o
libltdl/.libs/libltdlc_la-lt_dlloader.o
libltdl/.libs/libltdlc_la-lt_error.o
libltdl/.libs/libltdlc_la-ltdl.o
libltdl/.libs/libltdlc_la-slist.o
libltdl/.libs/lt__strl.o
libltdl/COPYING.LIB
libltdl/Makefile
libltdl/Makefile.am
libltdl/Makefile.in
libltdl/README
libltdl/config/compile
libltdl/config/config.guess
libltdl/config/config.sub
libltdl/config/depcomp
libltdl/config/install-sh
libltdl/config/ltmain.sh
libltdl/config/mdate-sh
libltdl/config/missing
libltdl/config/test-driver
libltdl/config/texinfo.tex
libltdl/dlopen.la
libltdl/libltdl/lt__alloc.h
libltdl/libltdl/lt__argz_.h
libltdl/libltdl/lt__dirent.h
libltdl/libltdl/lt__glibc.h
libltdl/libltdl/lt__private.h
libltdl/libltdl/lt__strl.h
libltdl/libltdl/lt_dlloader.h
libltdl/libltdl/lt_error.h
libltdl/libltdl/lt_system.h
libltdl/libltdl/slist.h
libltdl/libltdlc.la
libltdl/libltdlc_la-lt__alloc.lo
libltdl/libltdlc_la-lt__alloc.o
libltdl/libltdlc_la-lt_dlloader.lo
libltdl/libltdlc_la-lt_dlloader.o
libltdl/libltdlc_la-lt_error.lo
libltdl/libltdlc_la-lt_error.o
libltdl/libltdlc_la-ltdl.lo
libltdl/libltdlc_la-ltdl.o
libltdl/libltdlc_la-slist.lo
libltdl/libltdlc_la-slist.o
libltdl/loaders/.deps/.dirstamp
libltdl/loaders/.deps/dld_link.Plo
libltdl/loaders/.deps/dlopen.Plo
libltdl/loaders/.deps/dyld.Plo
libltdl/loaders/.deps/libltdl_la-preopen.Plo
libltdl/loaders/.deps/libltdlc_la-preopen.Plo
libltdl/loaders/.deps/load_add_on.Plo
libltdl/loaders/.deps/loadlibrary.Plo
libltdl/loaders/.deps/shl_load.Plo
libltdl/loaders/.dirstamp
libltdl/loaders/.libs/dlopen.o
libltdl/loaders/.libs/libltdlc_la-preopen.o
libltdl/loaders/dld_link.c
libltdl/loaders/dlopen.c
libltdl/loaders/dlopen.lo
libltdl/loaders/dlopen.o
libltdl/loaders/dyld.c
libltdl/loaders/libltdlc_la-preopen.lo
libltdl/loaders/libltdlc_la-preopen.o
libltdl/loaders/load_add_on.c
libltdl/loaders/loadlibrary.c
libltdl/loaders/preopen.c
libltdl/loaders/shl_load.c
libltdl/lt__alloc.c
libltdl/lt__argz.c
libltdl/lt__dirent.c
libltdl/lt__strl.c
libltdl/lt__strl.lo
libltdl/lt__strl.o
libltdl/lt_dlloader.c
libltdl/lt_error.c
libltdl/ltdl.c
libltdl/ltdl.h
libltdl/slist.c
libtool
m4/libtool.m4
m4/ltargz.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Makefile
src/Makefile.in
src/data/Makefile
src/data/Makefile.in
src/data/fomus.el
src/exe/.deps/main.Po
src/exe/.libs/fomus
src/exe/Makefile
src/exe/Makefile.in
src/exe/fomus
src/exe/main.o
src/lib/.deps/api.Plo
src/lib/.deps/api.Tpo
src/lib/.deps/classes.Plo
src/lib/.deps/data.Plo
src/lib/.deps/error.Plo
src/lib/.deps/info.Plo
src/lib/.deps/instrs.Plo
src/lib/.deps/intern.Plo
src/lib/.deps/marks.Plo
src/lib/.deps/mods.Plo
src/lib/.deps/numbers.Plo
src/lib/.deps/paractstrs.Plo
src/lib/.deps/parse.Plo
src/lib/.deps/schedr.Plo
src/lib/.deps/userstrs.Plo
src/lib/.deps/util.Plo
src/lib/.deps/vars.Plo
src/lib/.libs/classes.o
src/lib/.libs/data.o
src/lib/.libs/error.o
src/lib/.libs/info.o
src/lib/.libs/instrs.o
src/lib/.libs/intern.o
src/lib/.libs/libfomus.a
src/lib/.libs/libfomus.la
src/lib/.libs/libfomus.lai
src/lib/.libs/libfomus.so
src/lib/.libs/marks.o
src/lib/.libs/mods.o
src/lib/.libs/numbers.o
src/lib/.libs/paractstrs.o
src/lib/.libs/parse.o
src/lib/.libs/schedr.o
src/lib/.libs/userstrs.o
src/lib/.libs/util.o
src/lib/.libs/vars.o
src/lib/Makefile
src/lib/Makefile.in
src/lib/api/Makefile
src/lib/api/Makefile.in
src/lib/api/modtypes.h
src/lib/api/modtypes.h.in
src/lib/classes.lo
src/lib/classes.o
src/lib/data.lo
src/lib/data.o
src/lib/error.lo
src/lib/error.o
src/lib/info.lo
src/lib/info.o
src/lib/instrs.lo
src/lib/instrs.o
src/lib/intern.lo
src/lib/intern.o
src/lib/libfomus.la
src/lib/marks.lo
src/lib/marks.o
src/lib/mod/Makefile
src/lib/mod/Makefile.in
src/lib/mod/accs/.deps/accs_la-accs.Plo
src/lib/mod/accs/.deps/cautaccs_la-cautaccs.Plo
src/lib/mod/accs/.deps/postaccs_la-postaccs.Plo
src/lib/mod/accs/.libs/accs.la
src/lib/mod/accs/.libs/accs.lai
src/lib/mod/accs/.libs/accs.so
src/lib/mod/accs/.libs/accs_la-accs.o
src/lib/mod/accs/.libs/cautaccs.la
src/lib/mod/accs/.libs/cautaccs.lai
src/lib/mod/accs/.libs/cautaccs.so
src/lib/mod/accs/.libs/cautaccs_la-cautaccs.o
src/lib/mod/accs/.libs/postaccs.la
src/lib/mod/accs/.libs/postaccs.lai
src/lib/mod/accs/.libs/postaccs.so
src/lib/mod/accs/.libs/postaccs_la-postaccs.o
src/lib/mod/accs/Makefile
src/lib/mod/accs/Makefile.in
src/lib/mod/accs/accs.la
src/lib/mod/accs/accs_la-accs.lo
src/lib/mod/accs/accs_la-accs.o
src/lib/mod/accs/cautaccs.la
src/lib/mod/accs/cautaccs_la-cautaccs.lo
src/lib/mod/accs/cautaccs_la-cautaccs.o
src/lib/mod/accs/postaccs.la
src/lib/mod/accs/postaccs_la-postaccs.lo
src/lib/mod/accs/postaccs_la-postaccs.o
src/lib/mod/beams/.deps/beams_la-beams.Plo
src/lib/mod/beams/.libs/beams.la
src/lib/mod/beams/.libs/beams.lai
src/lib/mod/beams/.libs/beams.so
src/lib/mod/beams/.libs/beams_la-beams.o
src/lib/mod/beams/Makefile
src/lib/mod/beams/Makefile.in
src/lib/mod/beams/beams.la
src/lib/mod/beams/beams_la-beams.lo
src/lib/mod/beams/beams_la-beams.o
src/lib/mod/check/.deps/ranges_la-ranges.Plo
src/lib/mod/check/.libs/ranges.la
src/lib/mod/check/.libs/ranges.lai
src/lib/mod/check/.libs/ranges.so
src/lib/mod/check/.libs/ranges_la-ranges.o
src/lib/mod/check/Makefile
src/lib/mod/check/Makefile.in
src/lib/mod/check/ranges.la
src/lib/mod/check/ranges_la-ranges.lo
src/lib/mod/check/ranges_la-ranges.o
src/lib/mod/common/Makefile
src/lib/mod/common/Makefile.in
src/lib/mod/dist/.deps/blockdist_la-blockdist.Plo
src/lib/mod/dist/.deps/cartdist_la-cartdist.Plo
src/lib/mod/dist/.deps/notedist_la-notedist.Plo
src/lib/mod/dist/.libs/blockdist.la
src/lib/mod/dist/.libs/blockdist.lai
src/lib/mod/dist/.libs/blockdist.so
src/lib/mod/dist/.libs/blockdist_la-blockdist.o
src/lib/mod/dist/.libs/cartdist.la
src/lib/mod/dist/.libs/cartdist.lai
src/lib/mod/dist/.libs/cartdist.so
src/lib/mod/dist/.libs/cartdist_la-cartdist.o
src/lib/mod/dist/.libs/notedist.la
src/lib/mod/dist/.libs/notedist.lai
src/lib/mod/dist/.libs/notedist.so
src/lib/mod/dist/.libs/notedist_la-notedist.o
src/lib/mod/dist/Makefile
src/lib/mod/dist/Makefile.in
src/lib/mod/dist/blockdist.la
src/lib/mod/dist/blockdist_la-blockdist.lo
src/lib/mod/dist/blockdist_la-blockdist.o
src/lib/mod/dist/cartdist.la
src/lib/mod/dist/cartdist_la-cartdist.lo
src/lib/mod/dist/cartdist_la-cartdist.o
src/lib/mod/dist/notedist.la
src/lib/mod/dist/notedist_la-notedist.lo
src/lib/mod/dist/notedist_la-notedist.o
src/lib/mod/div/.deps/divide_la-divide.Plo
src/lib/mod/div/.deps/libgrdiv_la-grdiv.Plo
src/lib/mod/div/.deps/untie_la-untie.Plo
src/lib/mod/div/.libs/divide.la
src/lib/mod/div/.libs/divide.lai
src/lib/mod/div/.libs/divide.so
src/lib/mod/div/.libs/divide_la-divide.o
src/lib/mod/div/.libs/libgrdiv.a
src/lib/mod/div/.libs/libgrdiv.la
src/lib/mod/div/.libs/libgrdiv_la-grdiv.o
src/lib/mod/div/.libs/untie.la
src/lib/mod/div/.libs/untie.lai
src/lib/mod/div/.libs/untie.so
src/lib/mod/div/.libs/untie_la-untie.o
src/lib/mod/div/Makefile
src/lib/mod/div/Makefile.in
src/lib/mod/div/divide.la
src/lib/mod/div/divide_la-divide.lo
src/lib/mod/div/divide_la-divide.o
src/lib/mod/div/libgrdiv.la
src/lib/mod/div/libgrdiv_la-grdiv.lo
src/lib/mod/div/libgrdiv_la-grdiv.o
src/lib/mod/div/untie.la
src/lib/mod/div/untie_la-untie.lo
src/lib/mod/div/untie_la-untie.o
src/lib/mod/divrls/.deps/divrules_la-divrules.Plo
src/lib/mod/divrls/.libs/divrules.la
src/lib/mod/divrls/.libs/divrules.lai
src/lib/mod/divrls/.libs/divrules.so
src/lib/mod/divrls/.libs/divrules_la-divrules.o
src/lib/mod/divrls/Makefile
src/lib/mod/divrls/Makefile.in
src/lib/mod/divrls/divrules.la
src/lib/mod/divrls/divrules_la-divrules.lo
src/lib/mod/divrls/divrules_la-divrules.o
src/lib/mod/dyns/.deps/dyns_la-dyns.Plo
src/lib/mod/dyns/.deps/phrdyns_la-phrdyns.Plo
src/lib/mod/dyns/.deps/repdyns_la-repdyns.Plo
src/lib/mod/dyns/.libs/dyns.la
src/lib/mod/dyns/.libs/dyns.lai
src/lib/mod/dyns/.libs/dyns.so
src/lib/mod/dyns/.libs/dyns_la-dyns.o
src/lib/mod/dyns/.libs/phrdyns.la
src/lib/mod/dyns/.libs/phrdyns.lai
src/lib/mod/dyns/.libs/phrdyns.so
src/lib/mod/dyns/.libs/phrdyns_la-phrdyns.o
src/lib/mod/dyns/.libs/repdyns.la
src/lib/mod/dyns/.libs/repdyns.lai
src/lib/mod/dyns/.libs/repdyns.so
src/lib/mod/dyns/.libs/repdyns_la-repdyns.o
src/lib/mod/dyns/Makefile
src/lib/mod/dyns/Makefile.in
src/lib/mod/dyns/dyns.la
src/lib/mod/dyns/dyns_la-dyns.lo
src/lib/mod/dyns/dyns_la-dyns.o
src/lib/mod/dyns/phrdyns.la
src/lib/mod/dyns/phrdyns_la-phrdyns.lo
src/lib/mod/dyns/phrdyns_la-phrdyns.o
src/lib/mod/dyns/repdyns.la
src/lib/mod/dyns/repdyns_la-repdyns.lo
src/lib/mod/dyns/repdyns_la-repdyns.o
src/lib/mod/eng/.deps/bfsearch_la-bfsearch.Plo
src/lib/mod/eng/.deps/divsearch_la-divsearch.Plo
src/lib/mod/eng/.deps/dynprog_la-dynprog.Plo
src/lib/mod/eng/.deps/libdumb_la-dumb.Plo
src/lib/mod/eng/.libs/bfsearch.la
src/lib/mod/eng/.libs/bfsearch.lai
src/lib/mod/eng/.libs/bfsearch.so
src/lib/mod/eng/.libs/bfsearch_la-bfsearch.o
src/lib/mod/eng/.libs/divsearch.la
src/lib/mod/eng/.libs/divsearch.lai
src/lib/mod/eng/.libs/divsearch.so
src/lib/mod/eng/.libs/divsearch_la-divsearch.o
src/lib/mod/eng/.libs/dynprog.la
src/lib/mod/eng/.libs/dynprog.lai
src/lib/mod/eng/.libs/dynprog.so
src/lib/mod/eng/.libs/dynprog_la-dynprog.o
src/lib/mod/eng/.libs/libdumb.a
src/lib/mod/eng/.libs/libdumb.la
src/lib/mod/eng/.libs/libdumb_la-dumb.o
src/lib/mod/eng/Makefile
src/lib/mod/eng/Makefile.in
src/lib/mod/eng/bfsearch.la
src/lib/mod/eng/bfsearch_la-bfsearch.lo
src/lib/mod/eng/bfsearch_la-bfsearch.o
src/lib/mod/eng/divsearch.la
src/lib/mod/eng/divsearch_la-divsearch.lo
src/lib/mod/eng/divsearch_la-divsearch.o
src/lib/mod/eng/dynprog.la
src/lib/mod/eng/dynprog_la-dynprog.lo
src/lib/mod/eng/dynprog_la-dynprog.o
src/lib/mod/eng/libdumb.la
src/lib/mod/eng/libdumb_la-dumb.lo
src/lib/mod/eng/libdumb_la-dumb.o
src/lib/mod/in/.deps/fmsin_la-fmsin.Plo
src/lib/mod/in/.deps/midiin_la-midiin.Plo
src/lib/mod/in/.libs/fmsin.la
src/lib/mod/in/.libs/fmsin.lai
src/lib/mod/in/.libs/fmsin.so
src/lib/mod/in/.libs/fmsin_la-fmsin.o
src/lib/mod/in/.libs/midiin.la
src/lib/mod/in/.libs/midiin.lai
src/lib/mod/in/.libs/midiin.so
src/lib/mod/in/.libs/midiin_la-midiin.o
src/lib/mod/in/Makefile
src/lib/mod/in/Makefile.in
src/lib/mod/in/fmsin.la
src/lib/mod/in/fmsin_la-fmsin.lo
src/lib/mod/in/fmsin_la-fmsin.o
src/lib/mod/in/midiin.la
src/lib/mod/in/midiin_la-midiin.lo
src/lib/mod/in/midiin_la-midiin.o
src/lib/mod/marks/.deps/grslurs_la-grslurs.Plo
src/lib/mod/marks/.deps/libmarkevs1_la-markevs1.Plo
src/lib/mod/marks/.deps/libmarkevs2_la-markevs2.Plo
src/lib/mod/marks/.deps/libmarks_la-marks.Plo
src/lib/mod/marks/.deps/libvsmarks_la-vsmarks.Plo
src/lib/mod/marks/.deps/markgrps_la-markgrps.Plo
src/lib/mod/marks/.libs/grslurs.la
src/lib/mod/marks/.libs/grslurs.lai
src/lib/mod/marks/.libs/grslurs.so
src/lib/mod/marks/.libs/grslurs_la-grslurs.o
src/lib/mod/marks/.libs/libmarkevs1.a
src/lib/mod/marks/.libs/libmarkevs1.la
src/lib/mod/marks/.libs/libmarkevs1_la-markevs1.o
src/lib/mod/marks/.libs/libmarkevs2.a
src/lib/mod/marks/.libs/libmarkevs2.la
src/lib/mod/marks/.libs/libmarkevs2_la-markevs2.o
src/lib/mod/marks/.libs/libmarks.a
src/lib/mod/marks/.libs/libmarks.la
src/lib/mod/marks/.libs/libmarks_la-marks.o
src/lib/mod/marks/.libs/libvsmarks.a
src/lib/mod/marks/.libs/libvsmarks.la
src/lib/mod/marks/.libs/libvsmarks_la-vsmarks.o
src/lib/mod/marks/.libs/markgrps.la
src/lib/mod/marks/.libs/markgrps.lai
src/lib/mod/marks/.libs/markgrps.so
src/lib/mod/marks/.libs/markgrps_la-markgrps.o
src/lib/mod/marks/Makefile
src/lib/mod/marks/Makefile.in
src/lib/mod/marks/grslurs.la
src/lib/mod/marks/grslurs_la-grslurs.lo
src/lib/mod/marks/grslurs_la-grslurs.o
src/lib/mod/marks/libmarkevs1.la
src/lib/mod/marks/libmarkevs1_la-markevs1.lo
src/lib/mod/marks/libmarkevs1_la-markevs1.o
src/lib/mod/marks/libmarkevs2.la
src/lib/mod/marks/libmarkevs2_la-markevs2.lo
src/lib/mod/marks/libmarkevs2_la-markevs2.o
src/lib/mod/marks/libmarks.la
src/lib/mod/marks/libmarks_la-marks.lo
src/lib/mod/marks/libmarks_la-marks.o
src/lib/mod/marks/libvsmarks.la
src/lib/mod/marks/libvsmarks_la-vsmarks.lo
src/lib/mod/marks/libvsmarks_la-vsmarks.o
src/lib/mod/marks/markgrps.la
src/lib/mod/marks/markgrps_la-markgrps.lo
src/lib/mod/marks/markgrps_la-markgrps.o
src/lib/mod/meas/.deps/libmeas_la-meas.Plo
src/lib/mod/meas/.libs/libmeas.a
src/lib/mod/meas/.libs/libmeas.la
src/lib/mod/meas/.libs/libmeas_la-meas.o
src/lib/mod/meas/Makefile
src/lib/mod/meas/Makefile.in
src/lib/mod/meas/libmeas.la
src/lib/mod/meas/libmeas_la-meas.lo
src/lib/mod/meas/libmeas_la-meas.o
src/lib/mod/octs/.deps/octs_la-octs.Plo
src/lib/mod/octs/.libs/octs.la
src/lib/mod/octs/.libs/octs.lai
src/lib/mod/octs/.libs/octs.so
src/lib/mod/octs/.libs/octs_la-octs.o
src/lib/mod/octs/Makefile
src/lib/mod/octs/Makefile.in
src/lib/mod/octs/octs.la
src/lib/mod/octs/octs_la-octs.lo
src/lib/mod/octs/octs_la-octs.o
src/lib/mod/out/.deps/fmsout_la-fmsout.Plo
src/lib/mod/out/.deps/lilyout_la-exec.Plo
src/lib/mod/out/.deps/lilyout_la-lilyout.Plo
src/lib/mod/out/.deps/midiout_la-midiout.Plo
src/lib/mod/out/.deps/xmlout_la-xmlout.Plo
src/lib/mod/out/.libs/fmsout.la
src/lib/mod/out/.libs/fmsout.lai
src/lib/mod/out/.libs/fmsout.so
src/lib/mod/out/.libs/fmsout_la-fmsout.o
src/lib/mod/out/.libs/lilyout.la
src/lib/mod/out/.libs/lilyout.lai
src/lib/mod/out/.libs/lilyout.so
src/lib/mod/out/.libs/lilyout_la-exec.o
src/lib/mod/out/.libs/lilyout_la-lilyout.o
src/lib/mod/out/.libs/midiout.la
src/lib/mod/out/.libs/midiout.lai
src/lib/mod/out/.libs/midiout.so
src/lib/mod/out/.libs/midiout_la-midiout.o
src/lib/mod/out/.libs/xmlout.la
src/lib/mod/out/.libs/xmlout.lai
src/lib/mod/out/.libs/xmlout.so
src/lib/mod/out/.libs/xmlout_la-xmlout.o
src/lib/mod/out/Makefile
src/lib/mod/out/Makefile.in
src/lib/mod/out/fmsout.la
src/lib/mod/out/fmsout_la-fmsout.lo
src/lib/mod/out/fmsout_la-fmsout.o
src/lib/mod/out/lilyout.la
src/lib/mod/out/lilyout_la-exec.lo
src/lib/mod/out/lilyout_la-exec.o
src/lib/mod/out/lilyout_la-lilyout.lo
src/lib/mod/out/lilyout_la-lilyout.o
src/lib/mod/out/midiout.la
src/lib/mod/out/midiout_la-midiout.lo
src/lib/mod/out/midiout_la-midiout.o
src/lib/mod/out/xmlout.la
src/lib/mod/out/xmlout_la-xmlout.lo
src/lib/mod/out/xmlout_la-xmlout.o
src/lib/mod/parts/.deps/libmparts_la-mparts.Plo
src/lib/mod/parts/.deps/parts_la-parts.Plo
src/lib/mod/parts/.libs/libmparts.a
src/lib/mod/parts/.libs/libmparts.la
src/lib/mod/parts/.libs/libmparts_la-mparts.o
src/lib/mod/parts/.libs/parts.la
src/lib/mod/parts/.libs/parts.lai
src/lib/mod/parts/.libs/parts.so
src/lib/mod/parts/.libs/parts_la-parts.o
src/lib/mod/parts/Makefile
src/lib/mod/parts/Makefile.in
src/lib/mod/parts/libmparts.la
src/lib/mod/parts/libmparts_la-mparts.lo
src/lib/mod/parts/libmparts_la-mparts.o
src/lib/mod/parts/parts.la
src/lib/mod/parts/parts_la-parts.lo
src/lib/mod/parts/parts_la-parts.o
src/lib/mod/quant/.deps/grtquant_la-grtquant.Plo
src/lib/mod/quant/.deps/pquant_la-pquant.Plo
src/lib/mod/quant/.deps/tquant_la-tquant.Plo
src/lib/mod/quant/.libs/grtquant.la
src/lib/mod/quant/.libs/grtquant.lai
src/lib/mod/quant/.libs/grtquant.so
src/lib/mod/quant/.libs/grtquant_la-grtquant.o
src/lib/mod/quant/.libs/pquant.la
src/lib/mod/quant/.libs/pquant.lai
src/lib/mod/quant/.libs/pquant.so
src/lib/mod/quant/.libs/pquant_la-pquant.o
src/lib/mod/quant/.libs/tquant.la
src/lib/mod/quant/.libs/tquant.lai
src/lib/mod/quant/.libs/tquant.so
src/lib/mod/quant/.libs/tquant_la-tquant.o
src/lib/mod/quant/Makefile
src/lib/mod/quant/Makefile.in
src/lib/mod/quant/grtquant.la
src/lib/mod/quant/grtquant_la-grtquant.lo
src/lib/mod/quant/grtquant_la-grtquant.o
src/lib/mod/quant/pquant.la
src/lib/mod/quant/pquant_la-pquant.lo
src/lib/mod/quant/pquant_la-pquant.o
src/lib/mod/quant/tquant.la
src/lib/mod/quant/tquant_la-tquant.lo
src/lib/mod/quant/tquant_la-tquant.o
src/lib/mod/special/.deps/harms_la-harms.Plo
src/lib/mod/special/.deps/libpnotes_la-pnotes.Plo
src/lib/mod/special/.deps/percchs_la-percchs.Plo
src/lib/mod/special/.deps/tpose_la-tpose.Plo
src/lib/mod/special/.deps/trems_la-trems.Plo
src/lib/mod/special/.libs/harms.la
src/lib/mod/special/.libs/harms.lai
src/lib/mod/special/.libs/harms.so
src/lib/mod/special/.libs/harms_la-harms.o
src/lib/mod/special/.libs/libpnotes.a
src/lib/mod/special/.libs/libpnotes.la
src/lib/mod/special/.libs/libpnotes_la-pnotes.o
src/lib/mod/special/.libs/percchs.la
src/lib/mod/special/.libs/percchs.lai
src/lib/mod/special/.libs/percchs.so
src/lib/mod/special/.libs/percchs_la-percchs.o
src/lib/mod/special/.libs/tpose.la
src/lib/mod/special/.libs/tpose.lai
src/lib/mod/special/.libs/tpose.so
src/lib/mod/special/.libs/tpose_la-tpose.o
src/lib/mod/special/.libs/trems.la
src/lib/mod/special/.libs/trems.lai
src/lib/mod/special/.libs/trems.so
src/lib/mod/special/.libs/trems_la-trems.o
src/lib/mod/special/Makefile
src/lib/mod/special/Makefile.in
src/lib/mod/special/harms.la
src/lib/mod/special/harms_la-harms.lo
src/lib/mod/special/harms_la-harms.o
src/lib/mod/special/libpnotes.la
src/lib/mod/special/libpnotes_la-pnotes.lo
src/lib/mod/special/libpnotes_la-pnotes.o
src/lib/mod/special/percchs.la
src/lib/mod/special/percchs_la-percchs.lo
src/lib/mod/special/percchs_la-percchs.o
src/lib/mod/special/tpose.la
src/lib/mod/special/tpose_la-tpose.lo
src/lib/mod/special/tpose_la-tpose.o
src/lib/mod/special/trems.la
src/lib/mod/special/trems_la-trems.lo
src/lib/mod/special/trems_la-trems.o
src/lib/mod/staves/.deps/librstaves_la-rstaves.Plo
src/lib/mod/staves/.deps/staves_la-staves.Plo
src/lib/mod/staves/.libs/librstaves.a
src/lib/mod/staves/.libs/librstaves.la
src/lib/mod/staves/.libs/librstaves_la-rstaves.o
src/lib/mod/staves/.libs/staves.la
src/lib/mod/staves/.libs/staves.lai
src/lib/mod/staves/.libs/staves.so
src/lib/mod/staves/.libs/staves_la-staves.o
src/lib/mod/staves/Makefile
src/lib/mod/staves/Makefile.in
src/lib/mod/staves/librstaves.la
src/lib/mod/staves/librstaves_la-rstaves.lo
src/lib/mod/staves/librstaves_la-rstaves.o
src/lib/mod/staves/staves.la
src/lib/mod/staves/staves_la-staves.lo
src/lib/mod/staves/staves_la-staves.o
src/lib/mod/voices/.deps/libprune_la-prune.Plo
src/lib/mod/voices/.deps/merge_la-merge.Plo
src/lib/mod/voices/.deps/voices_la-voices.Plo
src/lib/mod/voices/.libs/libprune.a
src/lib/mod/voices/.libs/libprune.la
src/lib/mod/voices/.libs/libprune_la-prune.o
src/lib/mod/voices/.libs/merge.la
src/lib/mod/voices/.libs/merge.lai
src/lib/mod/voices/.libs/merge.so
src/lib/mod/voices/.libs/merge_la-merge.o
src/lib/mod/voices/.libs/voices.la
src/lib/mod/voices/.libs/voices.lai
src/lib/mod/voices/.libs/voices.so
src/lib/mod/voices/.libs/voices_la-voices.o
src/lib/mod/voices/Makefile
src/lib/mod/voices/Makefile.in
src/lib/mod/voices/libprune.la
src/lib/mod/voices/libprune_la-prune.lo
src/lib/mod/voices/libprune_la-prune.o
src/lib/mod/voices/merge.la
src/lib/mod/voices/merge_la-merge.lo
src/lib/mod/voices/merge_la-merge.o
src/lib/mod/voices/voices.la
src/lib/mod/voices/voices_la-voices.lo
src/lib/mod/voices/voices_la-voices.o
src/lib/mods.lo
src/lib/mods.o
src/lib/numbers.lo
src/lib/numbers.o
src/lib/paractstrs.cc
src/lib/paractstrs.cc.in
src/lib/paractstrs.lo
src/lib/paractstrs.o
src/lib/parse.lo
src/lib/parse.o
src/lib/schedr.lo
src/lib/schedr.o
src/lib/userstrs.lo
src/lib/userstrs.o
src/lib/util.lo
src/lib/util.o
src/lib/vars.lo
src/lib/vars.o
src/test/.deps/testheads.Po
src/test/.fomus
src/test/Makefile
src/test/Makefile.in
stamp-h1
